body {
  font-family :Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(9, 9, 9);
  margin: 0;
  padding: 0;
}

.app {
}

header {
  display: flex;
  justify-content: space-between;

  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;

  align-items: center;
  background-color: rgb(9, 9, 9);
  border-bottom: 2px solid rgb(0, 255, 119);
  color: rgb(0, 255, 119);
  padding:5px 10px;
  width: calc(100vw-20px);
}

h1 {
  margin: 0;
}

.addGroup {
  padding: 10px 0;
  background-color: rgb(9, 9, 9);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 12vw;
}

.add-group-form {
  height: 20vh;
  width: 20vw;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 255, 119);
  position: absolute;
  background-color: #121212;
  box-shadow: #2b2b2b;
  top: 40vh;
  left: 40vw;
}

.add-group-form-button{
  background-color: rgb(0, 255, 119);
  color :rgb(9, 9, 9);

}

.homeButtons {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: white;
  width : 200px;
}

button {
  font-size: 1rem;
  padding: 10px;
  background-color: rgb(0, 255, 119);
  color: rgb(9, 9, 9);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 255, 119);
}

.dashboard {
  padding: 10px 160px;
  background-color: rgb(9, 9, 9);
  color: white;
}

.group-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: white;
  border: none;
}

.group-card {
  background-color: rgb(9, 9, 9);
  padding: 20px;
  border: 1px solid rgb(0, 255, 119);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 12vw;
  box-sizing: border-box;
  text-align: left;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.group-card h3 {
  margin-top: 0;
}

.group {
  padding: 20px;
  margin: 10px;
  background-color: rgb(9, 9, 9);
  border-radius: 5px;
  margin-bottom: 20px;
  color: white;
}

.addMember {
}

.add-member-form {
}

h2 {
  margin-top: 0;
}

.addTransaction {
  background-color: rgb(9, 9, 9);
}

.add-transaction-form {
  background-color: rgb(9, 9, 9);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

.transactionTitle {
  margin: 10px 0;
}

.add-member-form {
  background-color: rgb(9, 9, 9);
  padding-left: 0px;
}

.member-contribution {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgb(9, 9, 9);
  width: 20vw;
  flex-direction: row;
  justify-content: space-between;
}

.member-contribution label {
  margin-right: 10px;
  padding: 10px;
}

.member-contribution input {
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(9, 9, 9);
  color: white;
}

.settlement {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.balance {
  margin-bottom: 10px;
}

.balance ul {
  list-style: none;
  background-color: rgb(0, 255, 119);
  color: rgb(9, 9, 9);
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.balance ul li {
  margin-left: 5px;
}

.App-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 180px);
  padding: 0;
  color: white;
  background-color: rgb(9, 9, 9);
  border: none;
}

.content {
  display: flex;
  width: 80%;
  max-width: 1200px;
}

.text-section {
  flex: 1;
  padding: 20px;
}


.headline {
  font-size: 2rem;
  font-family: "Courier Prime", monospace;
  font-weight: 900;
  font-style: normal;
  margin-bottom: 2px;
  font-weight: 900;
  padding-top: 30px;
}

.headline h2{
  margin-bottom : 0px;
}

.description p {
  font-size: 1 rem;
  margin-bottom: 10px;

}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top : 15vh;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color : white;
  border : 2px solid rgb(0, 255, 119);
  border-radius: 10px;
  width : 23vw;
  background-color: rgb(9, 9, 9);
  padding : 10px;
}

.login-heading{
  margin-bottom : 10px;
}

/* Media queries for mobile screens */
@media (max-width: 768px) {
  header {
    flex-direction: row;
    align-items: flex-start;
    background-color: rgb(0, 255, 119);
    color :rgb(9, 9, 9);
    margin: 0;
  }

  .addGroup {
    width: 100%;
    background-color: rgb(0, 255, 119);
    color :rgb(9, 9, 9);
    padding : 10px 0px ;
  }

  .add-group-form {
    width: 90vw;
    left: 5vw;
    background-color: rgb(9, 9, 9);
  }

  .add-group-form-button{
    background-color: rgb(0, 255, 119);
    color :rgb(9, 9, 9);
    
  }
  .dashboard {
    padding: 10px 20px;
  }


  .group-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .group-card {
    width: 84vw;
    background-color: rgb(9, 9, 9);
    padding: 5px 10px;
  }

  .member-contribution {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .App-main {
    flex-direction: column;
    padding: 2px 5px;
    background-color: rgb(0, 255, 119);
    color :rgb(9, 9, 9);
  }

  .content {
    flex-direction :column-reverse;
    width: 100%;
    
  }

  .headline{
    padding-top: 2px;
    font-size: 20px;
  }

  .description{
    padding-top: 0px;
  }

  .image-section {
    margin-top: 0px;
  }

  .get-started button{
    width : 84vw;
    border-radius: 0;
    color: #00ff77;
    background-color :rgb(9, 9, 9);
  }

  .settlement{
    display: flex;
    flex-direction: column;
  }

  .login{
    padding-top : 5vh;
    padding-bottom : 5vh;
    background-color: rgb(9, 9, 9);
  }

  .login-form{
    width : 83vw;
    background-color: rgb(9, 9, 9);
    padding : 10px;
    border : none;
  }

  .logout-button{
    border : 1px solid rgb(9, 9, 9);
    padding : 5px;
    margin-top : 5px;
  }
}
